mixin head(title)
		meta(charset='utf-8')
		title=title
		//[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
		meta(name='description', content='')
		link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')